body {
  margin: 0;
  height: 100vh;
  display: flex;               
  justify-content: center;     
  align-items: center;         
  background-color: #f0f0f0;
}


.calculator-bord{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: white;
}

.display {
  height: 60px;
  background-color: #eee;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;   
  align-items: center;
  padding: 0 10px;
  font-size: 2em;
}
.btn{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button{
    width: 90%;
    height: 50px;
    padding: 5px;
}

